# Gerar arquivos auxiliares para carga no Power BI

In [2]:
import pandas as pd

In [3]:
dobr = pd.read_parquet('files_in_geral/dobr_10_19a22_u75.parquet')

In [6]:
print(dobr.shape)
dobr.head()

(4427475, 6)

  CAUSABAS CODMUNRES SEXO RACACOR  OBITO_SOMA ANO_OBITO
0     A049   _355080    1       1           1     _2019
1     A09    _320520    1       1           1     _2019
2     A09    _330040    1       1           1     _2019
3     A09    _350970    1       4           1     _2019
4     A09    _355100    2       1           1     _2019

In [11]:
dobr.ANO_OBITO.value_counts()

ANO_OBITO
_2021    1122848
_2020     918015
_2022     875416
_2019     790056
_2010     721140
Name: count, dtype: int64

In [8]:
dobr_19a22 = dobr[dobr['ANO_OBITO'] != '_2010']

In [9]:
print(dobr_19a22.shape)
dobr_19a22.ANO_OBITO.value_counts()

(3706335, 6)

ANO_OBITO
_2021    1122848
_2020     918015
_2022     875416
_2019     790056
Name: count, dtype: int64

In [12]:
dobr_19a22.to_parquet('files_in_geral/dobr_19a22_u75.parquet')